<div class="local-container">
  <div class="hello">Hello!</div>
  <div class="title">Welcome to the <strong>BI Embedding Platform</strong></div>
  <div class="description">
    This platform was developed to facilitate the embedding of life reports more easily using a
    custom widget. Our widget ensures additional functionalities to enhance user experience and
    functionality.
  </div>
  <div class="segment-title" style="margin-top: 40px">Analytics</div>
  <div class="counter">
    <div class="icon-bg">
      <i class="material-icons-round">list</i>
    </div>
    <div class="texts">
      <div class="number">5</div>
      <div class="name">Total reports</div>
    </div>
  </div>

  <div class="segment-title" style="margin-top: 40px">Reports</div>
  <app-report-list-shared>ß</app-report-list-shared>
</div>
