.reports {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 00;

  a {
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 4.8%);
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    background-color: white;

    .report-title {
      font-weight: 600;
      font-size: 1em;
      color: var(--primary-1);
    }

    .report-description {
      font-size: 0.8em;
      color: rgb(41 39 126);
    }

    .report-filters {
      font-size: 0.8em;
      color: rgb(56 56 56);
    }

    &:hover {
      background-color: var(--primary-1);

      .report-title,
      .report-description,
      .report-filters {
        color: white !important;
      }
    }
  }
}
